
:root  {
  --background: 37 21% 95%;
  --foreground: 37 5% 0%;
  --card: 37 21% 90%;
  --card-foreground: 37 5% 10%;
  --popover: 37 21% 95%;
  --popover-foreground: 37 95% 0%;
  --primary: 37 55% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 37 21% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -1 21% 85%;
  --muted-foreground: 37 5% 35%;
  --accent: -1 21% 80%;
  --accent-foreground: 37 5% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 37 5% 90%;
  --border: 37 21% 50%;
  --input: 37 21% 18%;
  --ring: 37 55% 46%;
  --radius: 0.5rem;
}
.dark  {
  --background: 37 21% 5%;
  --foreground: 37 5% 90%;
  --card: 37 21% 0%;
  --card-foreground: 37 5% 90%;
  --popover: 37 21% 5%;
  --popover-foreground: 37 5% 90%;
  --primary: 37 55% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 37 21% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -1 21% 15%;
  --muted-foreground: 37 5% 60%;
  --accent: -1 21% 15%;
  --accent-foreground: 37 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 37 5% 90%;
  --border: 37 21% 18%;
  --input: 37 21% 18%;
  --ring: 37 55% 46%;
  --radius: 0.5rem;
}
